<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <File name="webRootFile" fileName="${catalina.home}/logs/log.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

<!--        <File name="mybatisAppender" fileName="${web:rootDir}/logs/mybatis.log">-->
<!--            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>-->
<!--        </File>-->
    </Appenders>

    <Loggers>
        <Root level="all">
            <AppenderRef ref="Console" level="ERROR"/>
<!--            <AppenderRef ref="webRootFile" level="ERROR"/>-->
        </Root>


        <logger name="cn.dmwqaq.chat_room.mapper" level="error">
            <AppenderRef ref="Console"/>
<!--            <AppenderRef ref="webRootFile"/>-->
        </logger>

    </Loggers>
</Configuration>